.Details {
    margin: 0;
    padding: 0.5rem;
    list-style: none;
    .Bullet::before {
        content: "\2022";
        color: black;
        font-weight: bold;
        display: inline-block;
        width: 1rem;
    }
    .Bullet {
        margin-bottom: 0.5rem;
    }
    .Bullet:last-child {
        margin: 0;
    }
}