.NavItem {
  text-decoration: none;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  .Indicator {
    position: relative;
  }

  .Selected {
    
  }

  .Indicator:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
  }

  .Indicator:hover:after {
    width: 100%;
    left: 0;
    background: #fff;
  }
}
