@media screen and (max-width: 767px) {
  .NavBar {
    flex-direction: row;
    flex: 1;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  .NavBar {
    flex-direction: column;
    height: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .NavBar {
    flex-direction: row;
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .NavBar {
    flex-direction: row;
    width: 25%;
  }
}

.NavBar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
